{% extends "master_template.html" %}
    {%block title%}
    This is the Main Index Page
    {%endblock%}
  {%block body%}
  <h1 class="label label-success">Horizontal form</h1>
  Welcome to BS Class <br>
  <!-- <table class="table table-hover">
    <tr>
      <td> roll no</td>
      <td>  Students </td>
    </tr>
    {% for a in jj %}
    <tr>
      <td class="btn btn-success">
        <a href="view_students/{{stud.title}}"> {{a.title}}</a>
      </td>
      <td > {{a.total_students}}</td>
    </tr>
    {%endfor%}
    <tr>
      <td  > Total Student: </td>
      <td > {{total}} </td>
      </tr>
  </table> -->


{%endblock%}